/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 40px;
  
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
   
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2 {
    color: #333;
}

/* Voter Form */
.voting-form-section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: max-content;
    margin: 0 auto;
}

#votingForm{
width: 80vw;
height: 80vh;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



/* Log in Page starts here 👇 */


/* Log In Page Ends here 👍 */


/* Voting Page */

 input[type="radio"] {
    width: 40px; /* Size of the radio button */
    height: 40px;
    border-radius: 50%;
    border: 2px solid #000;
    background: #fff;
    cursor: pointer;
}

.candidate_list_container{
    display: flex;
    justify-content: center;
    gap: 2.5rem;

}

@media (max-width: 768px) {
    #side_bar{
        display: none;
    }
}
